body{
	margin: 0;
}

header {
	background: yellow;
	color: white;
	padding: 15px 10px 0 15px;
}

header h1 {
	margin: 0;
	display: inline;
}

head {
	background: gray;
}

nav ul{
	margin: 0;
	padding: 0 0 0 15px;
	display: inline;
}


nav h1{
	color: green;
}

nav ul li {
	background: green;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;
	border-radius: 5px;
}

nav ul li a{
	color: yellow;
}

.row:after {
	clear:both;
}

.col {
	text-align: center;
	background: green;
	border-radius: 5px;
	color: yellow;
	padding: 10px .5%;
	float: left;
	margin: .5%;
	width: 31.333333%;
}

 html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
#map {
	width: 400px;
    height: 500px;
    background-color: #CCC;
    margin-top: 0px;
    padding-left: 400px;
    padding-bottom: 50px;
      }
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
        width: 345px;
      }


