body{
	margin: 0;
}

header {
	background: yellow;
	color: white;
	padding: 15px 15px 0 15px;
}

header h1 {
	margin: 0;
	display: inline;
}

head {
	background: gray;
}

nav ul{
	margin: 0;
	padding: 0 0 0 15px;
	display: inline;
}


nav h1{
	color: green;
}

nav ul li {
	background: green;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;
	border-radius: 5px;
}

nav ul li a{
	color: yellow;
}

.row:after {
	clear:both;
}

.col {
	background: green;
	border-radius: 5px;
	color: yellow;
	padding: 10px .5%;
	float: left;
	margin: .5%;
	width: 31.333333%;
}


